h1  {
    color: blue;
    text-align: center;
}
h2  {
    color: green; 
    font-style: italic; 
    text-align: center;
}
p  {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul  {
    font-family: 'Courier New', Courier, monospace;
    line-height: 60px;
}